body {
  font-family: Arial, sans-serif;
}

.hero {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

.service-box {
  background: #f7f7f7;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.doctor-card {
  background: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
